html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: 'Oswald', sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: #00539f;
}

h1 {
  font-size: 61px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 7px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #D9EAFB;
  text-shadow: 7px 7px 3px black;
}

img {
  display: block;
  margin: 0 auto;
}
